@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    font-family: 'Satisfy', cursive;
    font-family: 'Wix Madefor Text', sans-serif;
    font-family: 'Fredoka', sans-serif;
  }
